/* Global Style */
body {
  background-color: #D3EBCD;
}

/* Header */

header {
  text-align: center;
}

/* Client Section */
input[type=text] {
  margin: 5px 5px;
}

/* Pet Info Section */


.content-wrap {
  text-align: center;
}



/* Footer Section */
footer {
  text-align: center;
  padding: 20px 0;
}

.send, .reset {
  margin-top: 15px;
}

.send {
  margin-left: 30px;
}

.reset {
  margin-left: 5px;
}
